body {
    margin: 0;
    font-family: Arial;
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px 50px 51px 50px;
    box-sizing: border-box;
    background-color: #445162;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    margin: 0;
    float: left;
}

.main-header-title {
    margin: 0 0 51px 0;
    padding: 0;
    font-size: 60px;
    line-height: 48px;
    font-weight: 400;
}

.main-header-list {
    padding: 0 0 0 36px;
    margin: 0;
    font-size: 20px;
    line-height: 31.75px;
    font-weight: 400;
}

.main-header-list-item {
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon_349.png);
    color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: -35px;
}

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    float: right;
    background-color: #fff;
}

.content {
    width: 1280px;
    margin: 0 auto;
    color: #445161; 
}

.about-product {
    width: 100%;
    min-height: 345px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.about-product-wrp {
    display: block;
    padding-right: 97px;
}

.about-product-title {
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.about-product-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
}

.about-product-text:nth-child(2) {
    margin-bottom: 20px;
}

.about-product-video {
    width: 430px;
    min-height: 245px;
    background-color: #445161;
}