body {
    margin: 0;
    font-family: Arial;
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px 50px 51px 50px;
    box-sizing: border-box;
    background-color: #445162;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    margin: 0;
    float: left;
}

.main-header-title {
    margin: 0 0 51px 0;
    padding: 0;
    font-size: 60px;
    line-height: 48px;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 31.75px;
    font-weight: 400;
}

.main-header-list-item {
    padding: 0 0 0 35px;
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon_349.png);
    color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 4px;
    left: 0px;
}

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    float: right;
    background-color: #fff;
}

.content {
    width: 1280px;
    margin: 0 auto;
    color: #445161; 
}

.about-product {
    width: 100%;
    min-height: 345px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-product-wrp {
    width: 600px;
    display: block;
    padding-right: 97px;
}

.about-product-title {
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.about-product-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
}

.about-product-text:nth-child(2) {
    margin-bottom: 20px;
}

.about-product-video {
    width: 430px;
    min-height: 245px;
    background-color: #445161;
}

.dignity {
    width: 100%;
    min-height: 345px;
    margin: 0 auto;
    padding: 50px 73px 50px 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-item-wrp {
    width: 49%;
    box-sizing: border-box;
    padding-left: 0; 
}

.dignity-item-wrp:nth-child(3) {
    margin: 0;
}

.dignity-title {
    width: 100%;
    display: block;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.dignity-item {
    margin: 0 0 35px 0;
    text-align: justify;
}

.dignity-item:nth-child(3) {
    margin: 0;
}

.dignity-item-text {
    outline: none;
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0 45px;
    box-sizing: border-box;
}

.dignity-item-text::-webkit-details-marker {
    display: none;
}

.dignity-item-text:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

.dignity-item[open] .dignity-item-text:before {
    content: "-";
    line-height: 25px;
}

.dignity-item-text-invisible {
    margin: 20px 0 35px 45px;
}

.margin0 {
    margin-bottom: 0;
}

.screenshots {
    width: 100%;
    min-height: 487px;
    margin: 0 auto;
    padding: 50px 66px 50px 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    display: block;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.screenshots-item {
    width: 49%;
    margin: 0 0 30px 0;
    display: flex;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin: 0;
}

.screenshots-item-img {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
    background-color: #445161;
}

.screenshots-item-desc {
    width: 389px;
}

.screenshots-item-desc-title {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-item-desc-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
}

.reviews {
    width: 100%;
    min-height: 424px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.reviews-title {
    width: 100%;
    display: block;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.reviews-item {
    width: 50%;
    margin: 0 0 24px 0;
    display: flex;
}

.reviews-item:nth-child(4),
.reviews-item:nth-child(5) {
    margin: 0;
}

.reviews-item-foto {
    display: block;
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
}

.reviews-item-text {
    width: 476px;
    padding: 16px 20px 16px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 0 0 27px;
    background-color: #ebebeb;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    text-align: justify;
    position: relative;
}

.reviews-item-text:before {
    content: "";
    display: block;
    border: 15px solid transparent; 
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-item-autor {
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    text-decoration: none;
}

.reviews-item-autor:hover {
    color: #333333;
}

.reviews-item-autor:active {
    color: #ccc;
}

.prices {
    width: 100%;
    min-height: 424px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.price-title {
    width: 100%;
    display: block;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.price-item {
    width: 25%;
    margin: 0 20px 0 0;
    padding: 0 0 10px 0;
    background: #445162;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
  
.price-item:nth-child(4) {
    margin: 0;
}

.price-item-title {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.price-item-cost {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    border: 1px solid  #445162;
    box-sizing: border-box;
}

.price-item-list {
    margin: 19px 0 0 0;
    padding: 0 0 0 20px;
    list-style-position: inside;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.price-item-btn {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
    outline: none;
}

.price-item-btn:hover {
    background-color: #445161;
    color: #ffffff;
}
  
.price-item-btn:active {
    background-color:#989898;
}

.footer {
    width: 1280px;
    margin: 0 auto;
    color: #445161;
}

.contacts {
    width: 100%;
    min-height: 509px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contacts-title {
    width: 100%;
    display: block;
    margin: 0 0 31px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.contacts-form {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 46px 0 0;
}

.contacts-form-text {
    text-transform: capitalize;
}

.contacts-form-textarea {
    resize: none;
}

.form-config {
    width: 100%;
    display: block;
    margin: 0 0 22px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.contacts-form-btn {
    width: 140px;
    padding: 14px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #445161;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    outline: none;
}

.contacts-form-btn[type="submit"]:hover {
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}

.contacts-form-btn[type="submit"]:active {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.contacts-address {
    width: 27%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contacts-address-item {
    width: 100%;
    display: block;
    margin: 0 0 29px 0;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.contacts-address-item:before {
    content: "";
    display: block;
    min-width: 26px;
    min-height: 26px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-address-item:nth-child(1):before {
    background-image: url(../img/skype\ icon.png);
}

.contacts-address-item:nth-child(2):before {
    background-image: url(../img/icq\ icon.png);
}

.contacts-address-item:nth-child(3):before {
    background-image: url(../img/email\ icon.png);
}

.contacts-address-item:nth-child(4):before {
    background-image: url(../img/phone\ icon.png);
}

.contacts-social {
    width: 100%;
    display: flex;
}

.contacts-social-item {
    display: block;
    width: 62px;
    height: 62px;
    background-image: url(../img/Social\ Icons.png);
}

.contacts-social-item:nth-child(1) {
    background-position: 1px 0;
}

.contacts-social-item:nth-child(2) {
    background-position: -78px 0;
}

.contacts-social-item:nth-child(3) {
    background-position: -315px -79px;
}

.contacts-social-item:nth-child(4) {
    background-position: -157px -79px;
}

.contacts-social-item:nth-child(5) {
    background-position: -315px 0;
}

.contacts-social-item:nth-child(1):hover {
    background-position: 1px -218px;
}

.contacts-social-item:nth-child(2):hover {
    background-position: -78px -218px;
}

.contacts-social-item:nth-child(3):hover {
    background-position: -315px -299px;
}

.contacts-social-item:nth-child(4):hover {
    background-position: -157px -299px;
}

.contacts-social-item:nth-child(5):hover {
    background-position: -315px -218px;
}

.contacts-social-item:nth-child(1):active {
    background-position: 1px -432px;
}

.contacts-social-item:nth-child(2):active {
    background-position: -78px -432px;
}

.contacts-social-item:nth-child(3):active {
    background-position: -315px -511px;
}

.contacts-social-item:nth-child(4):active {
    background-position: -157px -511px;
}

.contacts-social-item:nth-child(5):active {
    background-position: -315px -432px;
}

.footer-copy {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.footer-copy-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    color: #445162;
    display: flex;
    justify-content: center;
    align-items: center;
}
